<%- include('../common/header') %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Old-Books-Store</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/sell">Sell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/buy">Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class=" container mt-4 text-white border border-primary rounded p-4 shadow-lg">
    <div class="display-5">How to get rid of old books?...</div>
    <div class="display-6">
        Get high deals on them or sell them at low or free.
    </div>
  </div>


<%- include('../common/footer') %>